.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbf7f3;
}

.aboutContent {
  display: flex;
  height: 950px;
  width: 80%;
  justify-content: space-between;
}

.mainText {
  width: 50%;
  height: 300px;
  margin-top: 300px;
}
.card {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cardItem {
  height: 406px;
  width: 290px;
  margin: 20px;
}

.cardItem:first-child {
  background-color: #f4ecfc;
}
.cardItem:nth-child(even) {
  background-color: #e9f7ec;
}
.cardItem:last-child {
  background-color: #fbe5ee;
}
